
<div class="landing-component">
    
    <nav class="nav">
        <button class="hamburger">
            <div class="bar"></div>
        </button>
    </nav>
    <img class="whiteLogo" src="/assets/images/SILCwhite.png" height="110px" alt="">
    <div class="mobile-nav">
        
        <a class="aboutTag" href="#About">About</a>
        <a class="skillTag" href="#mySkills">My Skills</a>
        <a class="workTag" href="#myWork">Work</a>
        <a class="contactTag" href="#contact">Contact</a>
    </div>
    <div class="contain">
        <div class="name">
            <h1 class="adam">ADAM</h1>
            <h1 class="silc">SILC</h1>
        </div>
        <div id="arrow" class="rightA">
            <a class="rightArrow" href="#About"><i class="ri-arrow-right-down-line"></i></a>
        </div>
  </div>
</div>