
 <div class="scrollBkg">
    <div class="about" id="About">
        <div class="card" >
            <div class="face">
                <img class="pixelBoi" src="assets/images/adamPixel.png" height="215px" width="215px" alt="">
                <div class="whoAmI">
                    <div class="whoBox" id="faceH1">
                        <p>WHO</p>
                    </div>
                    <div class="amBox" id="faceH1">
                        <p>AM</p>
                    </div>
                    <div class="iBox" id="faceH1">
                        <p>I<span>?</span></p>
                    </div>
                </div>
            </div>
            <div class="info">
                <p>I'm a full-stack developer that strives to design scallable projects that stand out. I specialize in building user experiences that are easy to use yet engaging.</p>
            </div>
        </div>
        <div class="btnContainer">
            <a class="skillBtn" href="#mySkills"><i class="ri-arrow-right-down-line"></i></a>
        </div>
    </div>
</div>