
<div class="workBkg">
    <div class="myWork" id="myWork">
        <div class="leftPop">
            <div class="popout1" id="popout"></div>
            <div class="popout2" id="popout"></div>
            <div class="popout3" id="popout"></div>
            <div class="popout4" id="popout"></div>
        </div>
        <div class="rightPop">
            <div class="popout5" id="popout"></div>
            <div class="popout6" id="popout"></div>
            <div class="popout7" id="popout"></div>
            <div class="popout8" id="popout"></div>
        </div>
    </div>
    <div class="contactBtnContainer">
        <a class="contactBtn" href="#contact"><i class="ri-arrow-right-down-line"></i></a>
    </div>
</div>