
<div class="contact" id="contact">
    <div class="contactForm">
        <div class="contactLeft">
            <div class="leftTop">
                <h1>Lets get in touch</h1>
                <div class="ltBot">
                    <div id="inTouch" class="myName">
                        <i class="fa-solid fa-id-card-clip"></i>
                        <p>Adam Silc</p>
                    </div>
                    <div id="inTouch" class="myEmail">
                        <i class="fa-solid fa-at"></i>
                        <p>adam-silc@hotmail.com</p>
                    </div>
                    <div id="inTouch" class="myAddy">
                        <i class="fa-solid fa-map-location"></i>
                        <p>123 Go fast Dr Toronto ON</p>
                    </div>
                </div>
            </div>
            <div class="leftBot">
                <span><i class="fa-solid fa-location-dot"></i></span>
            </div>
        </div>
        <div class="contactRight">
            <div class="contactMe">
                <h1>Contact me</h1>
            </div>
            <div class="contactInput">
                <div class="input-container">
                    <input type="text" name="name" class="input" />
                    <label for="">First Name</label>
                    <span>First Name</span>
                </div>
                <div class="input-container">
                    <input type="text" name="name" class="input" />
                    <label for="">Last Name</label>
                    <span>Last Name</span>
                </div>
                <div class="input-container">
                    <input type="email" name="email" class="input" />
                    <label for="">Email</label>
                    <span>Email</span>
                </div>
                <div class="input-container">
                    <input type="tel" name="phone" class="input" />
                    <label for="">Phone *optional</label>
                    <span>Phone *optional</span>
                </div>
                <div class="input-container textarea">
                    <textarea name="message" class="input"></textarea>
                    <label for="">Message</label>
                    <span>Message</span>
                </div>
                <input type="submit" value="Send" class="btn" />
            </div>
        </div>
    </div>
</div>