
<div class="mySkills" id="mySkills">
    <div class="skillContainer">
        <span><i class="fa-brands fa-html5"></i></span>
        <span><i class="fa-brands fa-css3"></i></span>
        <span><i class="fa-brands fa-js-square"></i></span>
        <span><i class="fa-brands fa-python"></i></span>
        <span><i class="fa-brands fa-java"></i></span>
        <span><img src="/assets/images/cSharp.png" alt=""></span>
        <span><i class="fa-brands fa-php"></i></span>
        <span><i class="fa-brands fa-react"></i></span>
        <span><img src="/assets/images/.netCore.png" alt=""></span>
        <span><i class="fa-brands fa-android"></i></span>
        <span><i class="fa-brands fa-app-store-ios"></i></span>
        <span>Adobe</span>
    </div>
    <div class="stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="workBtnContainer">
        <a class="workBtn" href="#myWork"><i class="ri-arrow-right-down-line"></i></a>
    </div>
</div>